@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #767676 !important;
}
.bg-success {
  background-color: #efefef !important;
}
.bg-info {
  background-color: #cccccc !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #505050;
  border-color: #505050;
  border-radius: 100px;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-secondary {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #505050;
  border-color: #505050;
  border-radius: 100px;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-secondary:hover:before,
.btn-secondary:focus:before,
.btn-secondary.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-info {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
  border-radius: 100px;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #4d4d4d !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-info:hover:before,
.btn-info:focus:before,
.btn-info.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-success {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
  border-radius: 100px;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-success:hover:before,
.btn-success:focus:before,
.btn-success.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-warning {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning:hover:before,
.btn-warning:focus:before,
.btn-warning.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #000000;
  border-color: #000000;
  border-radius: 100px;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger:hover:before,
.btn-danger:focus:before,
.btn-danger.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
  border-radius: 100px;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover:before,
.btn-black:focus:before,
.btn-black.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 100px;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover:before,
.btn-white:focus:before,
.btn-white.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-primary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #767676;
  border-color: #767676;
  border-radius: 100px;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #434343;
  color: #434343 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #767676;
  border-color: #767676;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-secondary-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-secondary-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #767676;
  border-color: #767676;
  border-radius: 100px;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #434343;
  color: #434343 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #767676;
  border-color: #767676;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-info-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-info-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #cccccc;
  border-color: #cccccc;
  border-radius: 100px;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #999999;
  color: #999999 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #4d4d4d !important;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-success-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-success-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #efefef;
  border-color: #efefef;
  border-radius: 100px;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #707070 !important;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-warning-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-warning-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-danger-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #232323;
  border-color: #232323;
  border-radius: 100px;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #232323;
  border-color: #232323;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-black-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #333333;
  border-color: #333333;
  border-radius: 100px;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.btn-white-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 100px;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white-outline:hover:before,
.btn-white-outline:focus:before,
.btn-white-outline.focus:before {
  -webkit-transform: scale(10);
  transform: scale(10);
}
.text-primary {
  color: #767676 !important;
}
.text-secondary {
  color: #767676 !important;
}
.text-success {
  color: #efefef !important;
}
.text-info {
  color: #cccccc !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #434343 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #434343 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bcbcbc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #999999 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #efefef;
}
.alert-info {
  background-color: #cccccc;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #767676;
  border-color: #767676;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #767676;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b6b6b6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #767676;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #767676;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #767676;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #767676;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #767676;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-rgbfDwKPPH .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rgbfDwKPPH .nav-item:focus,
.cid-rgbfDwKPPH .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-rgbfDwKPPH .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link {
    position: relative;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #767676, #767676);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-rgbfDwKPPH .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rgbfDwKPPH .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rgbfDwKPPH .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rgbfDwKPPH .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rgbfDwKPPH .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rgbfDwKPPH .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rgbfDwKPPH .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rgbfDwKPPH .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rgbfDwKPPH .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rgbfDwKPPH .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rgbfDwKPPH .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rgbfDwKPPH .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rgbfDwKPPH .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rgbfDwKPPH .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rgbfDwKPPH .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rgbfDwKPPH .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rgbfDwKPPH .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rgbfDwKPPH .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rgbfDwKPPH .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rgbfDwKPPH .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rgbfDwKPPH .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rgbfDwKPPH .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rgbfDwKPPH .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rgbfDwKPPH .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rgbfDwKPPH .dropdown-item.active,
.cid-rgbfDwKPPH .dropdown-item:active {
  background-color: transparent;
}
.cid-rgbfDwKPPH .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rgbfDwKPPH .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rgbfDwKPPH .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rgbfDwKPPH .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rgbfDwKPPH .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rgbfDwKPPH .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rgbfDwKPPH ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rgbfDwKPPH .navbar-buttons {
  text-align: center;
}
.cid-rgbfDwKPPH button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rgbfDwKPPH .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-rgbfDwKPPH a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rgbfDwKPPH .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rgbfDwKPPH .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rgbfDwKPPH .icons-menu span {
  font-size: 20px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rgbfDwKPPH .navbar {
    height: 77px;
  }
  .cid-rgbfDwKPPH .navbar.opened {
    height: auto;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rgbgO8IXce {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-rgbgO8IXce .container-fluid {
  padding: 0 3rem;
}
.cid-rgbgO8IXce .media-container-column {
  padding: 0 2rem;
}
.cid-rgbgO8IXce .mbr-section-title {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-rgbgO8IXce .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rgbgO8IXce .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rgv82birsZ {
  display: flex;
  padding-top: 90px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/img-4082-2000x1615.jpg");
}
.cid-rgv82birsZ .mbr-overlay {
  background: #232323;
  background: linear-gradient(90deg, #232323, #232323);
}
.cid-rgv82birsZ .mbr-section-title {
  margin: 0;
}
.cid-rgv82birsZ .mbr-text {
  color: #efefef;
}
.cid-rgv82birsZ .card-title {
  text-align: left;
  color: #ffffff;
}
.cid-rgv82birsZ .card-img {
  text-align: left;
}
.cid-rgv82birsZ .card .card-img span {
  font-size: 60px;
  color: #ffffff;
}
.cid-rgv82birsZ .header-content {
  margin-left: 3rem;
  margin-right: 3rem;
  -webkit-align-self: stretch;
  align-self: stretch;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rgv82birsZ .header-content .text-row {
  margin: auto 0;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rgv82birsZ .features-row {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-rgv82birsZ .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rgv82birsZ .header-content {
    margin-right: 0;
    margin-left: 0;
  }
}
.cid-rgv82birsZ .mbr-section-subtitle,
.cid-rgv82birsZ .mbr-section-btn B {
  color: #ffffff;
}
.cid-rgbhk79PAY {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-rgbhk79PAY .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rgbhk79PAY .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rgbhk79PAY .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rgbhk79PAY .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rgbhk79PAY .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #ffffff, #efefef);
}
.cid-rgbhk79PAY .icon-focus {
  display: none;
}
.cid-rgbhk79PAY .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: right;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-rgbhk79PAY ul {
  font-size: 0;
}
.cid-rgbhk79PAY .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-rgbhk79PAY .mbr-gallery-filter ul li .btn.active {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
}
.cid-rgbhk79PAY .mbr-gallery-filter ul li .btn.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #767676, #767676);
}
.cid-rgbhk79PAY .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-rgbhk79PAY .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-rgbhk79PAY .mbr-gallery-item > div:hover:before {
  opacity: 0 !important;
}
.cid-rgbhk79PAY .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rgbhk79PAY .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #767676, #767676);
  display: inline-block;
}
.cid-rgbhk79PAY .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-rgbhk79PAY .btn:hover {
  background: transparent !important;
}
.cid-rgbhk79PAY .btn:hover:before {
  background: transparent !important;
}
.cid-rgbhk79PAY .btn:before {
  background-color: transparent !important;
}
.cid-rgbhk79PAY .btn:focus {
  box-shadow: none;
}
.cid-rgbhk79PAY .mbr-section-title,
.cid-rgbhk79PAY .underline {
  color: #ffffff;
}
.cid-rgvZJTGyXh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/5b2699b6-4454-4291-9bdd-99e56d53994e-1-1200x1600.jpg");
}
.cid-rgvZJTGyXh .container-fluid {
  padding: 0 3rem;
}
.cid-rgvZJTGyXh .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #767676, #767676);
  display: inline-block;
}
.cid-rgvZJTGyXh .card {
  display: block;
}
.cid-rgvZJTGyXh .card .card-wrapper {
  height: 1%;
}
.cid-rgvZJTGyXh .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-rgvZJTGyXh .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rgvZJTGyXh .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-rgvZJTGyXh .text-row {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rgvZJTGyXh .prices {
  color: #ffffff;
}
.cid-rgvZJTGyXh .oldPrice {
  text-decoration: line-through;
}
.cid-rgvZJTGyXh .oldPrice,
.cid-rgvZJTGyXh .newPrice {
  color: inherit;
}
@media (max-width: 767px) {
  .cid-rgvZJTGyXh .container-fluid {
    padding: 0 1rem;
  }
  .cid-rgvZJTGyXh .text-row {
    padding-bottom: 1rem;
  }
}
.cid-rgwbRvGpWr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #232323;
}
.cid-rgwbRvGpWr .card-wrapper {
  z-index: 3;
}
.cid-rgwbRvGpWr .card-wrapper .mbr-section-title {
  letter-spacing: 1px;
  transition: all 2.5s cubic-bezier(0, 0.74, 0.52, 1.2);
}
.cid-rgwbRvGpWr:hover .mbr-section-title {
  letter-spacing: 10px;
}
.cid-rgwbRvGpWr .full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-rgwbRvGpWr .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-rgwbRvGpWr .text-block {
  text-align: left !important;
}
.cid-rgwbRvGpWr H2 {
  text-align: center;
}
.cid-rgvgjcsgew {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rgvgjcsgew .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-rgvgjcsgew .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rgvgjcsgew .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rgvgjcsgew .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-rgvgjcsgew .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #000000;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-rgvgjcsgew .icon-transition span:hover {
  background-color: #767676;
}
.cid-rgvgjcsgew .mbr-text {
  color: #cccccc;
}
@media (max-width: 991px) {
  .cid-rgvgjcsgew .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-rgvgjcsgew .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-rgvgjcsgew .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-rgbfDwKPPH .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rgbfDwKPPH .nav-item:focus,
.cid-rgbfDwKPPH .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-rgbfDwKPPH .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link {
    position: relative;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #767676, #767676);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-rgbfDwKPPH .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rgbfDwKPPH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rgbfDwKPPH .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rgbfDwKPPH .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rgbfDwKPPH .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rgbfDwKPPH .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rgbfDwKPPH .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rgbfDwKPPH .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rgbfDwKPPH .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rgbfDwKPPH .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rgbfDwKPPH .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rgbfDwKPPH .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rgbfDwKPPH .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rgbfDwKPPH .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rgbfDwKPPH .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rgbfDwKPPH .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rgbfDwKPPH .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rgbfDwKPPH .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rgbfDwKPPH .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rgbfDwKPPH .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rgbfDwKPPH .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rgbfDwKPPH .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rgbfDwKPPH .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rgbfDwKPPH .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rgbfDwKPPH .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rgbfDwKPPH .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rgbfDwKPPH .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rgbfDwKPPH .dropdown-item.active,
.cid-rgbfDwKPPH .dropdown-item:active {
  background-color: transparent;
}
.cid-rgbfDwKPPH .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rgbfDwKPPH .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rgbfDwKPPH .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rgbfDwKPPH .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rgbfDwKPPH .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rgbfDwKPPH .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rgbfDwKPPH ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rgbfDwKPPH .navbar-buttons {
  text-align: center;
}
.cid-rgbfDwKPPH button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rgbfDwKPPH button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rgbfDwKPPH nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rgbfDwKPPH .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-rgbfDwKPPH a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rgbfDwKPPH .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rgbfDwKPPH .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rgbfDwKPPH .icons-menu span {
  font-size: 20px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rgbfDwKPPH .navbar {
    height: 77px;
  }
  .cid-rgbfDwKPPH .navbar.opened {
    height: auto;
  }
  .cid-rgbfDwKPPH .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rgw3TPuxId {
  padding-top: 120px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-rgw3TPuxId .container-fluid {
  padding: 0 3rem;
}
.cid-rgw3TPuxId .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rgw3TPuxId .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(to right, #767676, #767676);
  display: inline-block;
}
.cid-rgw3TPuxId .card {
  margin-bottom: 2rem;
}
.cid-rgw3TPuxId .card-img {
  width: auto !important;
}
.cid-rgw3TPuxId .card-img .mbr-iconfont {
  color: #767676;
  font-size: 48px;
  padding-right: 1rem;
  background: linear-gradient(45deg, #767676, #cccccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-rgw3TPuxId .content-row {
  word-wrap: break-word;
}
.cid-rgw3TPuxId .media {
  width: initial;
  height: initial;
  margin: initial;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rgw3TPuxId .media .media-body {
  -webkit-flex: none;
  flex: none;
}
.cid-rgw3TPuxId .mbr-text {
  color: #bbbbbb;
  margin: 0;
}
.cid-rgw3TPuxId .card-title {
  color: #cccccc;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rgw3TPuxId .card-title,
  .cid-rgw3TPuxId .card-box {
    text-align: left;
  }
  .cid-rgw3TPuxId .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rgw3TPuxId .mbr-section-title,
.cid-rgw3TPuxId .underline {
  color: #cccccc;
}
.cid-rgwaxFTrmQ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rgwaxFTrmQ .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-rgwaxFTrmQ .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rgwaxFTrmQ .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rgwaxFTrmQ .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-rgwaxFTrmQ .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #000000;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-rgwaxFTrmQ .icon-transition span:hover {
  background-color: #767676;
}
.cid-rgwaxFTrmQ .mbr-text {
  color: #cccccc;
}
@media (max-width: 991px) {
  .cid-rgwaxFTrmQ .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-rgwaxFTrmQ .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-rgwaxFTrmQ .mbr-text {
    margin-bottom: 1.5rem;
  }
}
